@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');


:root {
    --shadow_light: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --shadow_dark: rgba(0, 0, 0, 0.2) 0px 2px 6px 0px;

}
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(185, 185, 185);
    align-items: center;
    justify-content: center;
}

.calcBody {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    background-color: aqua;
    align-items: center;
    border-radius: 10px;
    box-shadow: var(--shadow_dark);
    border: 5px solid rgb(0, 190, 190);
}

.topContainer {
    display: flex;
    border-bottom: 1px white solid;
    width: 90%;
    height: 80px;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 35px;
}

.logo {
    height: 30px;
    margin-left: 10px;
}

.solarGrid {
    display: flex;
    height: 75%;
    width: 60%;
    background-color: rgb(78, 78, 78);
    align-self: flex-end;
    border-radius: 10px;
    justify-content: space-evenly;
    box-shadow: var(--shadow_light);
   
}

.solarCell {
    border-left: 1px solid rgb(107, 107, 107);
    width: 1px;
    height: 100%;
    box-shadow: var(--shadow_light);
}

.displayContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    height: 120px;
    padding: 0px 10px;
    background-color: rgb(204, 204, 204);
    box-shadow: var(--shadow_dark);
    margin-top: 20px;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
}

.memoryBox {
    font-family: VT323;
    font-size: 26px;
    font-weight: 500;
    margin-top: 4px;
}

.displayBox {
    font-family: VT323;
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 5px;
}

.buttonRow {
    display: flex;
    width: 100%;
    height: 60px;

    align-items: center;
    justify-content: space-evenly;
    
}
.buttonContainer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 90%;
    width: 95%;
    gap: 10px;
}

.btn {
    border: 1px solid white;
    box-shadow: var(--shadow_light);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.small {
    height: 55px;
    width: 55px;
}

.large {
    height: 55px;
    width: 140px;
}

.numButton,
.miscButton {
    background-color: aquamarine;
}

.operandButton,
#equalBtn {
    background-color:rgb(255, 185, 159);
}

.btn:active {
    scale: .95;
}